<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>CodeIgniter</string>
	<key>uuid</key>
	<string>615B1DA7-DFD7-48CA-94AE-0B68402DFB0C</string>
</dict>
</plist>
